section {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h1 {
  font-size: 45px;
  font-weight: Heavy;
  color: #2c2c2c;
}
h2 {
  font-size: 30px;
  letter-spacing: 0.68px;
}
h3 {
  font-size: 19px;
  font-family: "monaco", "source-code-pro", monospace;
  font-weight: normal;
}
h2, h3 {
  text-align: left;
}
div :global(a):hover {
 text-decoration: none;
}
p {
  line-height: 35px;
}
a {
  display: inline-block;
}
.getstarted {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1200px;
  margin: 5% 12%;
  padding: 1em;
}
.apps {
  padding: 3em 0 ;
}
.pink {
  color: #DB67ED;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.image-box {
  min-width: 20vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-box {
  padding-left: 3em;
}
img {
  width: 100%;
  display: block;
  height: auto;
  max-width: 150px;
}
.icon {
  max-width: 100px;
  height: auto;
  box-shadow: 0 0 30px 0 rgba(48,35,110,.4);
  border-radius: 14px;
}
@media all and (max-width: 660px) {
  .flex-container {
    display: block;
  }
  .image-box {
    min-width: 10vw;
    align-self: flex-start;
    padding: 20px 30px;
  }
  .puedo, .image-box {
    min-width: 0;
  }
  .main, .text-box{
    padding: 0;
  }
  .main, .text-box, h1{
    text-align: center;
  }
}
