
  <section id="research-publications" class="bosun">
    <div class="header">
      <h2>Research and Publications</h2>
      <h4>We're not just <i>building</i> the decentralized web... We're writing, thinking, and engaging with research communities to better understand the social and technological implications of the systems we're developing.</h4>
    </div>
    <div class="container">
      <div class="collection">
        <h3>Technical</h3>
        <h4>Technical Papers</h4>
        <a href="#">Epidemic Broadcast Trees</a>
        <a href="#">Scalable Secure Scuttlebutt</a>
      </div>
      <div class="collection">
        <h3>Socio-technical</h3>
        <h4>Ethnographic Studies of the Scuttleverse</h4>
        <a href="#">The Scuttleverse: Alternative Social Media for Decentralized Sociotechnical Communities?</a>
        <a href="#">Personal Volunteer Computing</a>
      </div>
    </div>
  </section>

