#values {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #848EE6;
  padding: 4em 3em 2em;
  min-height: 80vh;
}
#values h1 {
  text-align: center;
  color: #FFF;
  font-size: 2.5rem;
  padding: .5em 0 0;
}
#values h2 {
  font-weight: initial;
  color: #fff;
  font-size: 2em;
  text-align: left;
}
#values h3 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
}
#values p {
  font-size: 20px;
  text-align: left;
}
#values .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  vertical-align: middle;
}
#values .item {
  padding: 0 4%;
  width: 410px;
  display: inline-block;
  vertical-align: middle;
}
@media all and (max-width: 554px) {
  #values .row {
    display: block;
  }
  #values .item {
    width: 100%;
    padding: 0;
  }
}

#diversity {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3em 0;
}
#diversity div {
  max-width: 800px;
  padding: 0 3em;
}
#diversity h1 {
  text-align: center;
  font-size: 2rem;
  margin: 15px;
}
#diversity h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 10px 0px 30px;
  text-align: center;
}
#diversity p,
#diversity li {
  font-size: 20px;
  text-align: left;
}
#diversity span {
  font-weight: 500;
}

#principles {
	--light_accent_text_color: #818ceb;
	--med_accent_text_color: #606ee6;
	--dark_accent_text_color: #646AD8;
	--soft_text_color: #8C8C8C;
	--soft_border_color: #CCC;
	--bg_color_1: #FFF;
	--bg_color_2: #848EE6;
	--bg_color_3: #EBCCF0;
	--pink_color: #C11ADD;
	--button_color: #FFFF80;
	--button_shadow: #F2F240;
	--chill_button: #3646D9;
	--button_soft_shadow: #F4F4F4;
	--button_softest_shadow: #DDDDDD;
	--button_border_color: #666;
  --comfy_font_size: 26px;
}
#principles {
  background-color: var(--bg_color_2);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 4em 3em 2em;
  min-height: 20vh;
}
#principles div {
  max-width: 800px;
}
#principles h1 {
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  margin: 10px;
}
#principles p {
  color: #2c2c2c;
}

#principles img {
  max-width:100%;
  max-height:100%;
  border-radius: 25px;
  margin: 2em 0;
}
*/
